<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.title == "Home" %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.google.com/earlyaccess/notosanskr.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="152x152" href="{{"/assets/apple-icon-152x152.png"}}">
      <link rel="icon" type="image/png" sizes="192x192"  href="{{/assets/android-icon-192x192.png}}">
          <link rel="icon" type="image/png" sizes="32x32" href="{{/assets/favicon-32x32.png}}">
              <link rel="icon" type="image/png" sizes="96x96" href="{{/assets/favicon-96x96.png}}">
                  <link rel="icon" type="image/png" sizes="16x16" href="{{/assets/favicon-16x16.png}}">
      
  <!-- RSS -->
  {% feed_meta %}
</head>
